POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_HOST_DOCKER=postgres
POSTGRES_PORT_DOCKER=5432
POSTGRES_DB=ficdev_recomendacao
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

MONGO_URI=mongodb://localhost:27017
MONGO_DB=ficdev_recomendacao
MONGO_USER=admin
MONGO_PASSWORD=

SUPERSET_SECRET_KEY=admin
SUPERSET_PORT=8088
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin

OPENMETADATA_PORT=8585
OPENMETADATA_ADMIN_PORT=8586
OPENMETADATA_URL=http://localhost:8585
OPENMETADATA_ADMIN_EMAIL=admin@openmetadata.org
OPENMETADATA_ADMIN_PASSWORD=

HASH_SALT=chave_salt_exemplo_altere_em_producao

